#==================================================
# Blacklist (Last match has precedence)

/OLD/*
/*

# Make sure these aren't touched:
/mk_sample.sh
/Config.lua
/SlashCommands.lua
/UserScript.lua

#==================================================
# Whitelist

# for empty directories:
!.gitkeep

# Explicitly include our main files:
!/.gitignore
!/README.md
!/CJRAutoBank.txt
!/CJRAutoBank.lua
!/CloneBag.lua
!/Dump.lua
!/sample_Config.lua
!/sample_SlashCommands.lua
!/sample_UserScript.lua
